<div class="container">
        <div>					
            <h3>Parabéns sua conta foi criada com sucesso</h3>       
        </div>
        <div class="form-group sair">
            <button type="button" class="btn btn-info pull-right" id="btn_home">Inicio</button>
        </div>
        <script>
            document.getElementById("btn_home").addEventListener("click", ()=>{
                window.location.href ='/';
            })
        </script>
    </div>

